.preCard {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid rgb(253, 104, 5);
  box-shadow: 10px 10px 5px black;
  width: 340px;
  height: 90%;
  background-image: url(https://st3.depositphotos.com/1076504/14248/i/450/depositphotos_142480753-stock-photo-smoke-on-black-background.jpg);
}

.nomeHeroi {
  color: white;
  height: 800px;
}

.imgHero {
  border: 2px solid gray;
  margin: 0;
}

.describe {
  width: 80%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
}

#divAllAtt {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  /* margin-left: auto; */
  /* margin-right: auto; */
}

.divAtt {
  display: flex;
  padding: 5px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid brown;
  color: white;
  width: 75%;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3px;
}

.attClass {
  margin-top: 5px;
  margin-bottom: 0px;
}

.raridade {
  color: White;
  margin-top: 5px;
}

#divSuper {
  position: absolute;
  margin-top: 3%;
  margin-left: 15%;
}

#superTrunfo {
  width: 65px;
}