@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

#footer-da-pag {
  display: flex;
  margin-bottom: 0;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
  color: white;
  height: 30vh;
  background-color: black;
  /* border: 1px solid red; */
  padding-left: 20%;
  padding-right: 20%;

}

#texto-footer{
  width: 50%;
  font-size: 120%;
  /* margin-left: 5%; */
  text-align: center;
}

#div-linha {
  height: 65%;
  width: 0;
  border: 1px solid white;
}

#footer-da-pag a {
  text-decoration: none;
  color: red;
}

.img-redes {
  height: 100%;
  width: 100%;
}

#div-redes {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  height: 30%;
  width: 35%;
}

#div-redes a{
  color: white
}

@media (max-width: 1000px) {
  #texto-footer {
    width: 100%;
    font-size: 15px;
  }

  #footer-da-pag {
    flex-direction: column;
  }

  #div-redes {
    width: 80%;
  }

  #div-linha {
    height: 0;
    width: 100%;
    margin: 1%;
    /* border: 0; */
  }
}

@media (max-width: 515px) {
  #texto-footer {
    font-size: 70%;
    width: 100%;
  }

  #div-redes {
    width: 100%;
  }

  #footer-da-pag {
    padding: 5%;
  }
}