#titleAddCard {
  margin-top: 13px;
  margin-bottom: 5px;
}

.newCard {
  background-color: rgba(255, 255, 255, 0.8);
  /* border: 1px solid red; */
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.divFinalNewCard {
  display: flex;
}

.labelAtributo {
  display: flex;
  /* border: 1px solid orange; */
  height: 40px;
  justify-content: space-between;
  align-items: center;
  width: 75%;
}

.classAtributo {
  width: 50%;
  height: 80%;
  /* border: none; */
}

#points {
  margin-top: 5px;
  margin-bottom: 5px;
}

.labelRarity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid blue; */
  width: 75%;
  height: 30px;
}

.labelIdentify {
  width: 75%;
}

#cardName {
  width: 98%;
  height: 40px;
}

#describeCard {
  width: 98%;
  height: 55px;
  resize: none;
}

#rarityCard {
  width: 53%;
  height: 100%;
}

.divTrunfoButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid purple; */
  width: 75%;
  height: 7%;
}

#jaSupTru {
  font-size: 65%;
  margin-top: 10%;
}

@media (max-width: 560px) {
  .newCard {
    width: 80%;
    height: 300px;
  }
}

@media (max-width: 1000px) {
  .newCard {
    height: 600px;
  }
}